<!doctype html>
{% extends 'Place_Order_Application/base.html' %}
{% block body_block %}
<div style="display: flex;flex-direction: column; gap: 5px">
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:add_product'%}" style="width: 250px" role="button">Add product</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:add_category'%}" style="width: 250px" role="button">Add category</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:check_orders'%}" style="width: 250px" role="button">Check orders</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:check_products'%}" style="width: 250px" role="button">Check products</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:check_categories'%}" style="width: 250px" role="button">Check categories</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:index'%}" style="width: 250px" role="button">Main page</a>
</div>
{% endblock %}
