<!doctype html>
{% extends 'Place_Order_Application/base.html' %}
{% block body_block %}
<div style="display: flex;flex-direction: column;gap:5px;">
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:log_in'%}" style="width: 250px" role="button">Login</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:place_order'%}" style="width: 250px" role="button">Place order</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:add_user'%}" style="width: 250px" role="button">Register</a>
    <a class='btn btn-lg btn-success' href="{%  url 'Place_Order_Application:index'%}" style="width: 250px" role="button">Main page</a>
</div>
{% endblock %}
